## API for Getting Population Data From American Community Survey ##

This notebook retrieves the male population data by races and age groups across the cities in the United States via the API of the American Community Survey administered by the US Census Bureau.

#### Resources for reference: 
https://medium.com/@mcmanus_data_works/using-the-u-s-census-bureau-api-with-python-5c30ad34dbd7
https://api.census.gov/data/2019/acs/acs1/variables.html

### First, we need to open and read the .txt file containing the API Key:
https://api.census.gov/data/key_signup.html; input the fields required and save the key as a .txt file

In [80]:
## Read the value of the key stored in the .txt file
key = open('C:/Users/kwaim/OneDrive/Documents/CCHE_Files/api_keys/acskey.txt', "r") ## modify the directory of your key here 
api_key = key.read()
key.close()

In [22]:
## View the key value
print(api_key)

9567f4de9dbb64aed07d3219b856b14dd519bce7

### Then, run the Python script file to import the functions needed for the API data pulling tasks:

In [229]:
## Run the script and import the functions needed from the module 'acs_api_functions.py'

%run acs_api_functions.py

### Guidelines for beginning the query:
Begin by inputting:
- Year of interest (e.g. 2018)
- Object variable of the API Key
- Name of the State (of the City)
- Name of the City

Please note that the name of the state and the city are case-insensitive (e.g. either 'Chicago' or 'CHICAGO' is fine).

### Example 1

The following demonstrate an example that pulls the data for 2018 for the population of male in the city of Chicago, IL by the following three races: 
* White (Non-Hispanic) 
* Black 
* Hispanic Non-Black

In [239]:
## Start the query
df_output = start_query(year=2018, api_key=api_key, state_name='Illinois', city_name='Chicago')

,Value_2018,Concept,City
Estimate Total Male,362086,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male Under 5 years,24295,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 5 to 9 years,24505,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 10 to 14 years,23712,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 15 to 17 years,14131,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 18 and 19 years,8858,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 20 to 24 years,28906,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 25 to 29 years,32989,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 30 to 34 years,24803,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 35 to 44 years,42899,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 45 to 54 years,43574,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 55 to 64 years,47775,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 65 to 74 years,27533,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 75 to 84 years,14478,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male 85 years and over,3628,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Chicago city
Estimate Total Male,453798,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male Under 5 years,23648,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 5 to 9 years,14956,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 10 to 14 years,14600,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 15 to 17 years,7064,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 18 and 19 years,7658,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 20 to 24 years,31265,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 25 to 29 years,59171,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 30 to 34 years,57585,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 35 to 44 years,67453,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 45 to 54 years,57464,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 55 to 64 years,52589,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 65 to 74 years,37870,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 75 to 84 years,16410,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male 85 years and over,6065,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Chicago city
Estimate Total Male,396171,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male Under 5 years,30185,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 5 to 9 years,26887,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 10 to 14 years,33140,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 15 to 17 years,17703,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 18 and 19 years,11480,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 20 to 24 years,31082,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 25 to 29 years,38012,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 30 to 34 years,32966,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 35 to 44 years,60880,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 45 to 54 years,47154,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 55 to 64 years,35536,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 65 to 74 years,20044,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 75 to 84 years,8826,SEX BY AGE (HISPANIC OR LATINO),Chicago city
Estimate Total Male 85 years and over,2276,SEX BY AGE (HISPANIC OR LATINO),Chicago city

In [238]:
362086+453798+396171

1212055

In [216]:
## Save the output file into .csv with timestamp and name of city enquired included in the file name

save_output_df('Chicago', df_output)

### Example 2

The following demonstrate an example that pulls the data for 2016 for the population of male in the city of Houston, TX by the following three races: 
* White (Non-Hispanic) 
* Black 
* Hispanic Non-Black

In [231]:
df_output = start_query(year=2016, api_key=api_key, state_name='TEXAS', city_name='HOUSTON')

,Value_2016,Concept,City
Estimate Total Male,244746,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male Under 5 years,15089,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 5 to 9 years,17148,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 10 to 14 years,18369,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 15 to 17 years,10733,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 18 and 19 years,5687,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 20 to 24 years,21426,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 25 to 29 years,22601,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 30 to 34 years,21516,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 35 to 44 years,32228,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 45 to 54 years,28159,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 55 to 64 years,27420,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 65 to 74 years,16133,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 75 to 84 years,7023,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male 85 years and over,1214,SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE),Houston city
Estimate Total Male,273270,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male Under 5 years,14184,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 5 to 9 years,10399,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 10 to 14 years,11789,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 15 to 17 years,6516,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 18 and 19 years,3450,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 20 to 24 years,15708,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 25 to 29 years,28043,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 30 to 34 years,26534,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 35 to 44 years,38612,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 45 to 54 years,34372,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 55 to 64 years,37955,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 65 to 74 years,27465,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 75 to 84 years,11899,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male 85 years and over,6344,"SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)",Houston city
Estimate Total Male,536860,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male Under 5 years,44275,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 5 to 9 years,45630,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 10 to 14 years,45986,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 15 to 17 years,25905,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 18 and 19 years,17865,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 20 to 24 years,42862,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 25 to 29 years,47934,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 30 to 34 years,48241,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 35 to 44 years,85750,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 45 to 54 years,62241,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 55 to 64 years,43471,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 65 to 74 years,18010,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 75 to 84 years,7297,SEX BY AGE (HISPANIC OR LATINO),Houston city
Estimate Total Male 85 years and over,1393,SEX BY AGE (HISPANIC OR LATINO),Houston city

In [218]:
## Save the output file into .csv with timestamp and name of city enquired included in the file name

save_output_df('Houston', df_output)